<ul>
  <% @search_results.each do |artist| %>
      <li>
        <p>
          <a href="<%= artist[:url] %>" target="_blank">
            <img src="<%= artist[:img] %>" alt=""/><br><%= artist[:name] %>
          </a>
          <br>
        </p>
        <%= link_to 'Сделать ставку', new_user_bet_path(:artist => artist) %>
        <hr>
      </li>
  <% end %>
</ul>