<% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
<% end %>

<%= link_to 'new', '/mybets/new' %>
<table id="bets">
  <% current_user.bets.each do |bet| %>
      <tr>
        <td>
          <%= bet.artist.name %>
        </td>
        <td>
          <%= link_to '[X]', user_bet_path(bet.id), :method => :delete, :class => 'remove_bet' %>
        </td>
      </tr>
  <% end %>
</table>