<%= link_to 'new', '/mybets/new' %>
<table id="bets">
  <% current_user.bets.each do |bet| %>
      <tr>
        <td>
          <%= bet.artist.name %>
        </td>
        <td>
          <%= link_to '[X]', user_bet_path(bet.id), :method => :delete, :class => 'remove_bet' %>
        </td>
      </tr>
  <% end %>
</table>