<div class="row page_wrap" style="margin-top:-2px">
  <!-- page wrap -->
  <div class="twelve columns">
    <!-- page wrap -->

    <div class="row">

      <div class="heading_dots">
        <h3 class="heading_supersize">
          <span class="heading_center_bg" style="font-family: Georgia, 'Times New Roman', Times, serif;">
            Поиск
          </span>
        </h3>
      </div>

      <p class="welcome_text">
        Введите название группы и нажимайте "Найти"
      </p>

      <div class="twelve columns">
        <%= form_tag(:action => :search) do %>
            <%= text_field_tag 'search_string', @search_string, :style => 'height:50px;font-family: Georgia, "Times New Roman", Times, serif;font-size:32px;' %>
            <p style="text-align:center">
              <%= button_tag 'Найти', :id => 'btnsrch', :class=> 'button alert large round' %>
            </p>
        <% end %>
      </div>

    </div>

  </div>

</div>

<%= render 'search_results', :locals => @search_results %>